{ 

	"Parameters" : { 	"NoiseThreshold"  : 0.005,
						"SmoothingDiskRadius" : 3,
						"SmoothingEnabled" : true },

	"ROI" : [ {  	"name" 	: "pupil_static",
					"type" 	: "static",
					"x" 	: 10,
					"y" 	: 10,
					"w" 	: 100, 
					"h" 	: 100,
					"fn" 	: "mean" } ],

	"Display" : { "show" : true, "scale_factor" : 0.7 }
}
