{ 	"directories" : { 	"main" 		: "/Volumes/BLUR/DATA/INTERNAL/SPEED",
						"video" 	: "VIDEO",						
						"gaze" 		: "GAZE",												
						"results"   : "./RESULTS/INTERNAL/SPEED",						
						"openface" 	: { "output" 	: "OPENFACE", 
										"bin" 		: "/Users/jtur044/Documents/OpenFace/build/bin" }},

	"PROFILE" : {  "ALL" : { 	"converter" 	: true,
								"splitfiles" 	: true,
								"openface" 		: true,
								"configurator" 	: true,
								"okndetection"  : true  }, 

				     "CONVERTER_ONLY" : {  	"converter" 	: true,										
				     							"splitfiles" 	: false,
												"openface" 		: false,
												"configurator" 	: false,
												"okndetection"  : false    },
				   
				     "SPLITFILES_ONLY" : {  	"converter" 	: false,														    	
				     						  	"splitfiles" 	: true,
												"openface" 		: false,
												"configurator" 	: false,
												"okndetection"  : false    },

				     "OPENFACE_ONLY" : { 		"converter" 	: false,
				     					  		"splitfiles" 	: false,
												"openface" 		: true,
												"configurator" 	: false,
												"okndetection"  : false    },				   

				     "CONFIGURATION_ONLY" : {	"converter" 	: false,
				     						  	"splitfiles" 	: false,
												"openface" 		: false,
												"configurator" 	: true,
												"okndetection"  : false    } }, 


	"CONVERTER" : [ { "Enable" : true, "name": "adjust", "type": "adjust", "contrast" : 1.0, "brightness" : 0.0, "saturation" : 1.0 } ], 

	

	"ANALYSIS" : { "FILE_MOVER" 	:  {  "run_eye_signal_generation" : false,
                                     	  "run_update_to_eye_signals" : true,
                                     	  "run_local_okn_detection" : false,
                                      	  "run_results_summary" : false },

					"EYE_SIGNALS" 	:  {	"run_eye_signal_generation" : true,
                                    	   	"run_update_to_eye_signals" : false,
                                       		"run_local_okn_detection" : false,
                                        	"run_results_summary" : false },

					"UPDATE_SIGNALS" :  {  "run_eye_signal_generation" : false,
                                           "run_update_to_eye_signals" : true,
                                           "run_local_okn_detection" : false,
                                           "run_results_summary" : false },

					"UPTO_LOCAL_EYE_SIGNALS" :  { "run_eye_signal_generation" : true,
                                               	  "run_update_to_eye_signals" : true,
                                                  "run_local_okn_detection" : false,
                                                  "run_results_summary" : false },
                                
                    "TOTAL" :  { "run_eye_signal_generation" : true,
								"run_update_to_eye_signals" : true,
								"run_local_okn_detection" : true,
								"run_results_summary" : true }, 

					"OKNDETECTION" : { 	"run_eye_signal_generation" : true,
										"run_update_to_eye_signals" : true,
										"run_local_okn_detection" : true,
										"run_results_summary" : true }, 

					"RESULTS" : { 	"run_eye_signal_generation" : false,
									"run_update_to_eye_signals" : false,
									"run_local_okn_detection" : false,
									"run_results_summary" : true }},


	"ignorelist" : [ "mnor_slow_5c", "zaw_fast_5c" ],

	"template" : { 	"eye_signal_processor" 	: "./CONFIG/eye_signal_processor.gaze.mustache.json",
	 				"okndetection" 			: "./CONFIG/okndetection.main.json" },

	"participant" : { 		"directories" 	: [ "" ],
							"clippath"  	: "clips",
	                        "Eye"           : "OD" },


	"openface" : { 	"features" 		: "OPENFACE", 
					"forcecreate" 	: true },

	"filetype" : ".mp4",

	"input" : { "TrialsPerLevel" : 5,  
	 			"TotalLevels" 	 : 12,
	 			"filetype" : ".mp4" },


	"protocol" : { "file" : "./data/kia-aroha-rdk-protocol-development.csv" }

    
}



